#union_mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	_position: absolute;
	background: #000;
	left: 0;
	top: 0;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	z-index: 99999;
	*zoom: 1;
	*background-color: rgba(0, 0, 0, .5)
}

.union_warp {
	display: none;
	width: 486px;
	margin-left: -243px;
	position: fixed;
	_position: absolute;
	z-index: 999999;
	left: 50%;
	top: -100%;
	background: 0 0
}

.union_warp .un_bot {
	width: 100%;
	height: 5px;
	background: url(../img/log/bg_b.png) no-repeat;
	overflow: hidden
}

.union_warp .un_con {
	width: 100%;
	position: relative;
	background: url(../img/log/log_mig.jpg) no-repeat left bottom #fff;
}

.union_warp .un_con .un_tit {
	width: 446px;
	height: 28px;
	padding: 14px 18px 14px 22px;
	background: url(../img/log/bg_t.png) no-repeat;
	overflow: hidden
}

.union_warp .un_con .un_login {
	background: url(../img/log/line.png) no-repeat 325px 23px;
	padding: 23px 22px 25px 26px;
	*padding: 23px 22px 20px 26px;
	_padding: 23px 22px 0 26px;
	margin: 0;
	overflow: hidden;
	_margin-bottom: -20px
}

.union_warp .un_con .un_tit .un_logo {
	display: block;
	width: 109px;
	height: 28px;
	float: left;
	margin-left: 5px
}

.union_warp .un_con .un_tit .un_close {
	display: block;
	width: 28px;
	height: 28px;
	float: right
}

.union_warp .un_con .un_tit .un_tabs {
	display: block;
	width: 220px;
	height: 28px;
	float: left;
	margin-left: 32px
}

.union_warp .un_con .un_tit .un_tabs span {
	display: block;
	width: 109px;
	height: 3px;
	border: none;
	background: #e2b64e;
	position: absolute;
	left: 168px;
	top: 53px;
	z-index: 1000000;
	*line-height: 0;
	*font-size: 0
}

.union_warp .un_con .un_tit .un_tabs a {
	display: block;
	width: 109px;
	height: 28px;
	float: left;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 28px
}

.union_warp .un_con .un_tit .un_tabs a.cur {
	display: block;
	width: 109px;
	height: 28px;
	float: left;
	font-size: 16px;
	color: #e2b64e;
	text-align: center;
	line-height: 28px
}

.union_warp .un_con .un_login .un_inps {
	width: 280px;
	float: left
}

.union_warp .un_con .un_login .un_mod_reg,
.union_warp .un_con .un_login .un_mod_save {
	display: none
}

.un_mod_log {
	height: 191px;
	overflow: hidden
}

.union_warp .un_con .un_login .un_msg {
	width: 120px;
	float: right
}

.union_warp .un_msg .un_log_qq {
	display: block;
	width: 120px;
	height: 40px;
	background: url(../img/log/btn_qq.jpg) no-repeat
}

.union_warp .un_msg .un_logName {
	font-size: 14px;
	color: #5b8efb;
	padding-top: 18px;
	line-height: 100%;
	text-align: center
}

.union_warp .un_msg .un_logInfo {
	font-size: 13px;
	color: #ccc;
	padding-top: 8px;
	line-height: 100%;
	text-align: center
}

.union_warp .un_con .un_login .un_inp {
	width: 280px;
	height: 39px;
	background: url(../img/log/bg_input.png) no-repeat
}

.union_warp .un_con .un_login .un_inp span {
	display: block;
	width: 74px;
	height: 39px;
	line-height: 39px;
	text-align: right;
	font-size: 16px;
	color: #666;
	float: left
}

.union_warp .un_con .un_login .un_inp input {
	width: 190px;
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	color: #666;
	border: none;
	outline: 0;
	background: 0 0;
	float: right;
	padding: 10px 8px
}

.union_warp .un_con .un_login .surePass span {
	/*width: 90px*/
}

.union_warp .un_con .un_login .surePass input {
	/*width: 174px*/
}

.union_warp .un_con .un_login .un_tips {
	width: 100%;
	padding: 9px 0;
	*padding: 2px 0;
	line-height: 14px;
	font-size: 14px;
	color: #5b8efb
}

.union_warp .un_con .un_login .un_tips.no {
	color: #f57b7b;
	background: url(../img/log/error.jpg) no-repeat left center;
	text-indent: 20px;
	padding: 6px 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/log/error.jpg")
}

.union_warp .un_con .un_login .un_tips.yes {
	color: #3db637;
	background: url(../img/log/right.jpg) no-repeat left center;
	text-indent: 20px;
	padding: 6px 0;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/log/right.jpg")
}

.union_warp .un_con .un_login .un_inps .un_rem {
	height: 13px;
	_height: 16px;
	*height: 16px;
	padding-bottom: 18px;
	_padding-bottom: 15px;
	overflow: hidden
}

.union_warp .un_rem .un_check {
	display: block;
	width: 13px;
	height: 13px;
	float: left;
	cursor: pointer;
	background: url(../img/log/chk_1.png) no-repeat;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/log/chk_1.png")
}

.union_warp .un_rem .un_check.no {
	background: url(../img/log/chk_0.png) no-repeat;
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="../img/log/chk_0.png")
}

.union_warp .un_rem .un_lable {
	display: block;
	height: 13px;
	line-height: 13px;
	*height: 16px;
	*line-height: 16px;
	_height: 16px;
	_line-height: 16px;
	font-size: 14px;
	color: #999;
	float: left;
	cursor: pointer;
	margin-left: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none
}

.union_warp .un_rem .un_lose_pass {
	display: block;
	height: 13px;
	line-height: 13px;
	_height: 16px;
	_line-height: 16px;
	*height: 16px;
	*line-height: 16px;
	font-size: 14px;
	color: #999;
	float: right
}

.union_warp .un_mod_reg .un_rem .un_lose_pass {
	float: left;
	margin-left: 5px
}

.union_warp .un_con .un_login .un_inps .un_btns {
	height: 46px;
	overflow: hidden
}

.union_warp .un_login .un_inps .un_btns a {
	display: block;
	width: 131px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 18px
}

.union_warp .un_login .un_inps .un_btns .un_btns_log {
	color: #fff;
	float: left;
	background: url(../img/log/btn_log.jpg) no-repeat
}

.union_warp .un_login .un_inps .un_btns .un_btns_reg {
	color: #333;
	float: right;
	background: url(../img/log/btn_reg.jpg) no-repeat
}

.union_warp .un_login .un_inps .un_btns .un_btns_regl {
	width: 278px;
	color: #fff;
	background: url(../img/log/btn_long.jpg) no-repeat
}

.un_mod_save .save_tit {
	font-size: 32px;
	color: #14c621;
	padding-bottom: 20px;
	line-height: 100%
}

.un_mod_save .save_info {
	font-size: 16px;
	padding-bottom: 30px
}

.un_mod_save .save_info .save_name {
	padding-bottom: 10px
}

.un_mod_save .save_info .savediv {
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #666;
	overflow: hidden
}

.un_mod_save .save_info .savediv .nameTxt,
.un_mod_save .save_info .savediv .passTxt {
	color: #ccc
}

.un_mod_save .saveTxt {
	font-size: 16px;
	color: #666;
	line-height: 100%;
	padding-bottom: 30px
}

.un_mod_save .saveTxt a {
	font-size: 16px;
	color: #5b8efb
}

.union_warp .un_login .un_inps .un_btns .un_btns_done {
	width: 278px;
	color: #fff;
	background: url(../img/log/btn_long.jpg) no-repeat
}

.union_warp .un_msg .saves {
	display: none
}

.union_warp .un_msg .saves .tipst {
	display: block;
	height: 55px;
	line-height: 55px;
	font-size: 18px;
	color: #666
}

.union_warp .un_msg .saves .tipTxt {
	line-height: 18px;
	font-size: 14px;
	color: #999
}

.union_warp .un_msg .saves .tipTxt a {
	font-size: 14px;
	color: #5b8efb
}

.blur {
	filter: url(blur.svg#blur);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=false);
}